<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tulipquant.mapper.QuestionnaireResultAddMapper">

	<resultMap type="com.tulipquant.pojo.Strategy" id="strategyMap">
		<result property="sName" column="sName" />
		<result property="auther" column="auther" />
		<result property="portrait" column="portrait" />
		<result property="sTag1" column="sTag1" />
		<result property="sTag2" column="sTag2" />
		<result property="sImg" column="sImg" />
		<result property="sBenefitY" column="sBenefitY" />
		<result property="sWithdraw" column="sWithdraw" />
		<result property="sMoneyBegin" column="sMoneyBegin" />
		<result property="sSubscribLimit" column="sSubscribLimit" />
		<result property="sPrice" column="sPrice" />
	</resultMap>

	<insert id="resultAdd" parameterType="string">
		insert into
		user(result) values(#{result}) where username = #{username}
	</insert>

	<select id="resultGet" parameterType="int">
		select * from user
		where uid = #{uid}
	</select>

	<select id="getStrategy" parameterType="string" resultMap="strategyMap">
		select * from strategy
		where sTag1 = #{0} or sTag1 = #{1} or sTag2 = #{0} or sTag2 = #{1}
	</select>
</mapper>