@media screen and (max-width:600px) {
    header .top ul {
        display: inline-block;
        overflow: visible;
        float: right;
    }
    #menu {
        margin-right: 0px;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .banner {
        position: relative;
        overflow: auto;
        height: 100%;
        width: 100%;
        left: 0%;
    }
    .hp-slogan .title {
        font-size: 18px;
        margin-top: 120px;
    }
    .hp-slogan p {
        font-size: 14px;
        opacity: .8;
        margin: 15px 0 38px 0;
    }
    .hp-slogan>a {
        width: 68px;
        display: inline-block;
        height: 30px;
        font-size: 14px;
        margin: 0px 10px;
    }
    a.blue-btn,
    .blue-btn {
        color: #fff;
        height: 30px;
        line-height: 30px;
        background: #5389d2;
        border-radius: 4px;
        display: inline-block;
    }
    header .top span.blue-btn {
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        float: right;
        margin-top: -2px;
        margin-left: -100px;
        margin-right: 20px;
    }

    .banner ul li,
    .banner ul {
        list-style: none;
        height: 380px;
    }
    .hp-slogan p.pro a {
        font-size: 14px;
        line-height: 21px;
        color: #fff;
        cursor: pointer;
    }
    a.guide-btn {
        color: #fff;
        height: 30px;
        background: transparent;
        line-height: 30px;
        border-radius: 4px;
        border: 1px solid #fff;
    }
    /*策略*/
    .celue {
        width: 100%;
        background-color: #f7f7f7;
        padding: 10px 20px;
    }
    .title {
        font-size: 20px;
    }
    .celuebox .item-header .subtitle {
        padding-left: 3px;
        color: #949494;
        font-size: 12px;
    }
    .celuebox .item {
        width: calc((100% - 20px));
    }
    .celuebox .item {
        float: left;
        margin-top: 20px;
        transition: all .6s ease;
        background-color: #fff;
    }
    .kmapTitle {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    #funcIntro {
        padding: 30px 0;
        clear: both;
        background-color: white;
    }
    .counter {
        padding: 5px 0;
        clear: both;
    }
    .counters .counter {
        font-size: 34px;
        display: block;
        color: white;
        font-family: "Roboto Slab", "Source Sans Pro", Arial, sans-serif, serif;
        width: 100%;
        font-weight: 400;
        /*margin-bottom: .1em;*/
    }
    .counters .counter-label {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        display: block;
        font-family: "Roboto Slab", "Roboto Slab", "Source Sans Pro", Arial, sans-serif, serif;
        margin-bottom: 40px;
    }
    .funcIntroSpec {

        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .wp19,
    .wp16 {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    .tqfooter .inner .subscribe {
        margin-top: 20px;
    }
    .item {
        width: 100%;
        margin: auto;
    }
    .item .mb_10, .wp2 .item p {
        width: 175px;
        margin: 10px 100px;
    }
    header .top span.blue-btn a:first-child {
        /* margin-right: 10px; */
        margin-left: 0;
    }
}